$color-blue: #7695EC;
$color-gray-dark: #777777;
$color-gray: #DDDDDD;
$color-gray-light: #CCCCCC;
$color-red: #FF5151;
$color-green: #47B960;

// Fonts variables comes from @next/font in _app
$font-roboto: var(--font-roboto);