.page_root {
  background: $color-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
}

.form {
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 24px;
  border: 1px solid $color-gray-light;
  border-radius: 16px;
  gap: 16px;

  h1 {
    font-family: $font-roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
  }
}

.btn {
  align-self: flex-end;
}