.form {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background: #FFFFFF;
  border: 1px solid #999999;
  border-radius: 16px;
  gap: 24px;

  >h2 {
    font-family: $font-roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;

    color: #000000;
  }
}

.custom_btn {
  align-self: flex-end;
}